.header {
    background-color: #3c9fc3;
    color: white;
   
}

.adminUser{
    opacity: 1; color: #08304B; background-color: rgb(60, 159, 195);
}
.header-row{
    padding-top: 0.3rem;
  padding-bottom: 0rem;
}

h1.header {
    font-size: 5vw;
}

h2, h3, h4 {
    color: #7bd5d5;
}

.img {
    width: 30px;
    height: 30px;
}

.img:hover {
    width: 125px;
    height: 125px;
}


.footerRow{
    background-color: #3c9fc3;
  
}
